<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre</h6>
                <p class="text-justify">
                    A impressa digital surgiu em 2020, logo no incio da covid-19, com o objetivo de ajudar pequenos e médios empresários
                    a divulgar seus produtos e serviços, com a impressão de cartões de visita, panfletos, banners, adesivos, entre outros.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Funcionamneto</h6>
                <p class="text-justify">
                    Segunda à Sexta das 8h às 17:30h <br>
                    Sábado das 8h às 12h
                </p>
                <p></p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">Luccas</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a class="twitter" href="https://www.instagram.com/impressa_digital/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a class="linkedin" href="https://wa.me/5531991407186"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

