@inherits LayoutComponentBase


<div class="base">
    <nav class="sidebar">
        <SideBarComponent></SideBarComponent>
    </nav>
    <main class="container-lg">
        <div class="row p-container">
            @Body
        </div>
    </main>
</div>