@inherits LayoutComponentBase


<header>
    <HeaderComponent></HeaderComponent>
</header>

<div class="container">
    <div class="row ">
        <main class="row ">
            @Body
        </main>
    </div>
</div>

<footer>
    <FooterComponent></FooterComponent>
</footer>

